<section id="foodies" class="my-5">
    <div class="container my-5 py-5">

      <div class="section-header d-md-flex justify-content-between align-items-center">
        <h2 class="display-3 fw-normal">Pet Foodies</h2>
        <div class="mb-4 mb-md-0">
          <p class="m-0">
            <button class="filter-button me-4  active" data-filter="*">ALL</button>
            <button class="filter-button me-4 " data-filter=".cat">CAT</button>
            <button class="filter-button me-4 " data-filter=".dog">DOG</button>
            <button class="filter-button me-4 " data-filter=".bird">BIRD</button>
          </p>
        </div>
        <div>
          <a href="#" class="btn btn-outline-dark btn-lg text-uppercase fs-6 rounded-1">
            shop now
            <svg width="24" height="24" viewBox="0 0 24 24" class="mb-1">
              <use xlink:href="#arrow-right"></use>
            </svg></a>
        </div>
      </div>
      <div class="isotope-container row">

  @for(pro of productsService.productsSignal() ; track pro.id){
    @defer(on viewport){
    <app-product-item [product]="pro"></app-product-item>
  }@placeholder {
    <p>loading....</p>
  }
  }


</div>
    </div>
  </section>