<div class="swiper-wrapper">
  <div class="swiper-slide">
    <div class="card position-relative">
      <a href="single-product.html"><img src="assets/images/item1.jpg" class="img-fluid rounded-4" alt="image"></a>
      <div class="card-body p-0">
        <a href="single-product.html">
          <h3 class="card-title pt-4 m-0">Grey hoodie</h3>
        </a>
        <div class="card-text">
          <span class="rating secondary-font">
            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
            <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
            5.0
          </span>
          <h3 class="secondary-font text-primary">$18.00</h3>
        </div>
      </div>
    </div>
  </div>
</div>